* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    width: 100vw;

    font-family: 'Cinzel';

    display: flex;
}   

.img-container {
    width: 30vw;
    height: 100vh;
    position: relative;
}

.img-container::before {
    content: "";
    position: absolute;
    top:0;
    left:0;
    width: 30vw;
    height: 100vh;
    background-image: url("img/background.jpg");
    background-size: cover;
    background-position: 58% center;
    filter: grayscale(40%) contrast(400%);
}

.logo-div {
    position: absolute;
    top: 40%;

    width: 100%;
    background-color: black;

    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0.8;
}

.logo {
    padding-top: 8px;
    height: 10vh;
}

.logo-span {
    color: white;
    font-size: 2rem;
}

form {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.introduction-container {
    padding: min(2rem, 10px);
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    position: relative;
}

.introduction {
    font-weight: bolder;
    font-size: 1.7rem;
    text-align: center;
    text-shadow: 4px 4px 8px white;
    background: url(img/dota2.jpg);
    background-size: 30px;
    background-clip:text;
    -webkit-background-clip: text;
    color: transparent;
}

.red.firstSpanRed::before {
    content: "born ";
    font-size: 2rem;
    text-shadow: 1px 1px 4px red;
}

.red.secondSpanRed::before {
    content: "warrior ";
    font-size: 2rem;
    text-shadow: 1px 1px 4px red;
}

.black.firstSpanBlack::before {
    content: "ashes, ";
    font-size: 2rem;
    text-shadow: 1px 1px 4px black;
}

.black.secondSpanBlack::before {
    content: "black. ";
    font-size: 2rem;
    text-shadow: 1px 1px 4px black;
}

.form-container {
    padding: calc(2rem + 20px);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 35rem;
    margin: 0 auto;
    background-color: white;
    border: 10px white ridge;
}

.form-background {
    width: 70vw;
    flex-grow: 1;
    height: 80vh;
    position: absolute;
    z-index: -1;
    filter: contrast(200%);
}

form h3 {
    margin: 0 0 20px;
}

form .row,
fieldset {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 6px 0;
}

form input {
    border: none;
    border-radius: 3px;
}

input[type="text"], 
input[type="email"],
input[type="number"],
input[type="password"] {
    width: 15rem;
    font-size: 1.25rem;
    font-family: inherit;
    padding: 0 5px;
    appearance: none;
}

fieldset {
    position: relative;
    border: none;
}

.button-container {
    width: 15rem;
    display: flex;
    justify-content: space-between;
}

legend {
    top:0;
    left: 0;
    position: absolute;
}

.radio-buttons label {
    margin-left: 0.15rem;
}

.is-available-label {
    text-align: center;
}

button {
    margin: 0 auto;
    color:white;
    text-shadow: 4px 4px 4px green;
    border-radius: 5px;
    background-color: black;
    padding: 1.25rem;
    font-family: inherit;
}
